<nav>
  <div class="nav-title">
    <a href="/"><h1>bero's blog</h1></a>
    <p>bero's site</p>
  </div>
  <ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create-blog">create blog</a></li>
  </ul>
</nav>
