<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/nav")%>
    <div class="about content">
      <h2>about</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis
        porro, ratione aspernatur esse possimus, dolorem adipisci beatae
        praesentium numquam minus fugiat. Eos, cumque excepturi debitis ad iusto
        repudiandae quos.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis
        porro, ratione aspernatur esse possimus, dolorem adipisci beatae
        praesentium numquam minus fugiat. Eos, cumque excepturi debitis ad iusto
        repudiandae quos.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis
        porro, ratione aspernatur esse possimus, dolorem adipisci beatae
        praesentium numquam minus fugiat. Eos, cumque excepturi debitis ad iusto
        repudiandae quos.
      </p>
    </div>
    <%-include("./partials/footer")%>
  </body>
</html>
